# mesh information
# --mesh meshes/stretch/rake_test.vtk 
#--target "./res"
# --name "solution_HOG_01"

# material type
--model_type MEMBRANE
#--energy ../potentials/exponential.energy
--elast_prm f f:fiber_f
--elast_prm s f:fiber_s

--trait_from BOUNDARY v:bnd_sim
--trait_from START_CONFIGURATION v:x

# specify solver
#--nlin_sol RELAX 1e-4 5000 1000 KINSOL 300 
--nlin_sol  KINSOL 3003 
#--nlin_sol KINSOL 300 
--nlin_tol 1e-6 3e-9
--lin_prm "drop_tolerance" "1e-4"
--lin_prm "reuse_tolerance" "1e-8"

# save data
--txt_vtk true  
--save_all_intag
--save_comp FINAL_CONFIGURATION v:x_e
#--save_comp RESIDUAL v:resid
#--save_comp LOCAL_BASIS f:basis
--save_comp PK2_STRESS f:PK2stress
#--save_comp DEFORMATION_GRADIENT f:F
--save_comp CAUCHY_STRAIN f:C2d 
